7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [2]:
PI = 3.1416
PI

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [6]:
var_1 = "True"
var_2 = True
var_1

'True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [12]:
print(type(var_1))

<class 'str'>

In [11]:
type(var_2)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
var3= 2 + 5.6
print(var3)

7.6

11) Realizar una operación de suma de números complejos

In [3]:
n_complejo1 = 1 + 2j
n_complejo2 = 1 + 3j
print (n_complejo1 + n_complejo2)

(2+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [4]:
print(3 +n_complejo1)

(4+2j)

13) Realizar una operación de multiplicación

In [5]:
print(2*3)

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [6]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [8]:
a = 27/4
print (a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [12]:
b= 27//4
print (b)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [11]:
c = 27%4
print (c)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [13]:
b*4 +c

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [14]:
d = "Holis "
e = "mundis"
print (d + e)

Holis mundis

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:

2 == "2"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [18]:
int("2") ==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [19]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [22]:
g = 3
g -= 1
g

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [23]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [24]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [26]:
variable1 = "texto "
variable2 = 3
variable1 * variable2

'texto texto texto '