1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
mi_list = ["Lima", "Paris", "Barcelona", "Río de Janeiro", "Cartagena"]
print(mi_list)

['Lima', 'Paris', 'Barcelona', 'Río de Janeiro', 'Cartagena']

2) Imprimir por pantalla el segundo elemento de la lista

In [3]:
print(mi_list[1])

Paris

3) Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print(mi_list[1:4])

['Paris', 'Barcelona', 'Río de Janeiro']

4) Visualizar el tipo de dato de la lista

In [5]:
print(type(mi_list))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [6]:
print(mi_list[2:])

['Barcelona', 'Río de Janeiro', 'Cartagena']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
print(mi_list[:4])

['Lima', 'Paris', 'Barcelona', 'Río de Janeiro']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [12]:
mi_list.append("Barcelona","Roma")

print(mi_list)

TypeError: list.append() takes exactly one argument (2 given)

In [22]:
mi_list.extend("Barcelona","Roma")
print(mi_list)

TypeError: list.extend() takes exactly one argument (2 given)

In [28]:
mi_list.append("Barcelona")
mi_list.append("Roma")
print(mi_list)

['Lima', 'Paris', 'Barcelona', 'Puno', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3, 'Barcelona', 'Roma']


8) Agregar otra ciudad, pero en la cuarta posición

In [24]:
mi_list.insert(3,"Puno")

In [25]:
print(mi_list)

['Lima', 'Paris', 'Barcelona', 'Puno', 'Puno', 'Río de Janeiro', 'Cartagena']


9) Concatenar otra lista a la ya creada

In [27]:
mi_lista2 = ["colores", 5 , 3]
mi_list.extend(mi_lista2)
print(mi_list)

['Lima', 'Paris', 'Barcelona', 'Puno', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3]


10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [29]:
mi_list.index("Barcelona")

2


11) ¿Qué pasa si se busca un elemento que no existe?

In [30]:
mi_list.index("Cusco")

ValueError: 'Cusco' is not in list

12) Eliminar un elemento de la lista

In [31]:
del(mi_list[4])
print(mi_list)

['Lima', 'Paris', 'Barcelona', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3, 'Barcelona', 'Roma']


13) ¿Qué pasa si el elemento a eliminar no existe?

In [32]:
del(mi_list[11])
print(mi_list)

IndexError: list assignment index out of range

In [33]:
mi_list.remove("Grecia")
print(mi_list)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [34]:
ultimo_valor = mi_list.pop()
print(ultimo_valor)

Roma

15) Mostrar la lista multiplicada por 4

In [35]:
print(mi_list*4)

['Lima', 'Paris', 'Barcelona', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3, 'Barcelona', 'Lima', 'Paris', 'Barcelona', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3, 'Barcelona', 'Lima', 'Paris', 'Barcelona', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3, 'Barcelona', 'Lima', 'Paris', 'Barcelona', 'Puno', 'Río de Janeiro', 'Cartagena', 'colores', 5, 3, 'Barcelona']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [36]:
mi_tupla =tuple(range(1,21))
print(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [37]:
print(mi_tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [38]:
n = len(mi_tupla)
while (n >= 1):
    n -= 1 
    if (mi_tupla[n] == 20):
        print("20 si está en la tupla")
    elif (mi_tupla[n] == 30):
        print("20 si está en la tupla")

20 si está en la tupla

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [39]:
verif = "Paris" in mi_list
print(verif)

True

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [40]:
print(mi_list.count("Barcelona"))

2

In [41]:
print(mi_tupla.count(10))

1

21) Convertir la tupla en una lista

In [50]:
mi_tupla = list(mi_tupla)

In [51]:
mi_tupla[0] = "Holis"
print(mi_tupla)

['Holis', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [53]:
var1, var2, var3 = mi_tupla[:3]
print(var1, var2, var3)

Holis 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [54]:
mi_dic = {"Sudamérica" : ["Lima","Río de Janeiro", "Cartagena"] ,"Europa": ["Paris", "Barcelona"] }
print(mi_dic)

{'Sudamérica': ['Lima', 'Río de Janeiro', 'Cartagena'], 'Europa': ['Paris', 'Barcelona']}

24) Imprimir las claves del diccionario

In [57]:
print(mi_dic.keys())

dict_keys(['Sudamérica', 'Europa'])


25) Imprimir las ciudades a través de su clave

In [60]:
print(mi_dic.values())

dict_values([['Lima', 'Río de Janeiro', 'Cartagena'], ['Paris', 'Barcelona']])